* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text
src/main/java/org/cd2h/STRAPITagLib/DBTest.java -text
src/main/java/org/cd2h/STRAPITagLib/Demo.java -text
src/main/java/org/cd2h/STRAPITagLib/STRAPITagLibBodyTagSupport.java -text
src/main/java/org/cd2h/STRAPITagLib/STRAPITagLibTagSupport.java -text
src/main/java/org/cd2h/STRAPITagLib/Sequence.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeams.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsCreatedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsCreatedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsCreatedById.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsDeleter.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsDescription.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsID.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsIterator.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsName.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsPublishedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsPublishedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsUpdatedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsUpdatedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsUpdatedById.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPages.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesCreatedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesCreatedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesCreatedById.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesDeleter.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesID.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesIterator.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesPublishedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesPublishedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesUpdatedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesUpdatedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesUpdatedById.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesWelcome.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPagesDomainTeamsLinks/LandingPagesDomainTeamsLinks.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPagesDomainTeamsLinks/LandingPagesDomainTeamsLinksDeleter.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPagesDomainTeamsLinks/LandingPagesDomainTeamsLinksDomainTeamId.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPagesDomainTeamsLinks/LandingPagesDomainTeamsLinksDomainTeamOrder.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPagesDomainTeamsLinks/LandingPagesDomainTeamsLinksID.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPagesDomainTeamsLinks/LandingPagesDomainTeamsLinksIterator.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPagesDomainTeamsLinks/LandingPagesDomainTeamsLinksLandingPageId.java -text
src/main/resources/META-INF/taglib.tld -text
src/main/webapp/_include.jsp -text
src/main/webapp/branding.jsp -text
src/main/webapp/footer.jsp -text
src/main/webapp/head.jsp -text
src/main/webapp/header.jsp -text
src/main/webapp/index.jsp -text
src/main/webapp/menu.jsp -text
src/main/webapp/nav.jsp -text
src/main/webapp/strapi/domainTeams/add.jsp -text
src/main/webapp/strapi/domainTeams/delete.jsp -text
src/main/webapp/strapi/domainTeams/edit.jsp -text
src/main/webapp/strapi/domainTeams/list.jsp -text
src/main/webapp/strapi/domainTeams/show.jsp -text
src/main/webapp/strapi/landingPages/add.jsp -text
src/main/webapp/strapi/landingPages/delete.jsp -text
src/main/webapp/strapi/landingPages/edit.jsp -text
src/main/webapp/strapi/landingPages/list.jsp -text
src/main/webapp/strapi/landingPages/show.jsp -text
src/main/webapp/strapi/landingPagesDomainTeamsLinks/add.jsp -text
src/main/webapp/strapi/landingPagesDomainTeamsLinks/delete.jsp -text
src/main/webapp/strapi/landingPagesDomainTeamsLinks/edit.jsp -text
src/main/webapp/strapi/landingPagesDomainTeamsLinks/list.jsp -text
src/main/webapp/strapi/landingPagesDomainTeamsLinks/show.jsp -text
src/non-packaged-resources/Model.clay -text
