* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text
src/main/java/org/cd2h/STRAPITagLib/DBTest.java -text
src/main/java/org/cd2h/STRAPITagLib/Demo.java -text
src/main/java/org/cd2h/STRAPITagLib/STRAPITagLibBodyTagSupport.java -text
src/main/java/org/cd2h/STRAPITagLib/STRAPITagLibTagSupport.java -text
src/main/java/org/cd2h/STRAPITagLib/Sequence.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeams.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsCreatedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsCreatedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsCreatedById.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsDeleter.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsDescription.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsID.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsIterator.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsName.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsPublishedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsPublishedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsUpdatedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsUpdatedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/domainTeams/DomainTeamsUpdatedById.java -text
src/main/java/org/cd2h/STRAPITagLib/files/Files.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesAlternativeText.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesCaption.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesCreatedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesCreatedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesCreatedById.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesDeleter.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesExt.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesFolderPath.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesFormats.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesHash.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesHeight.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesID.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesIterator.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesMime.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesName.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesPreviewUrl.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesProvider.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesProviderMetadata.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesSize.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesUpdatedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesUpdatedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesUpdatedById.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesUrl.java -text
src/main/java/org/cd2h/STRAPITagLib/files/FilesWidth.java -text
src/main/java/org/cd2h/STRAPITagLib/filesFolderLinks/FilesFolderLinks.java -text
src/main/java/org/cd2h/STRAPITagLib/filesFolderLinks/FilesFolderLinksDeleter.java -text
src/main/java/org/cd2h/STRAPITagLib/filesFolderLinks/FilesFolderLinksFileId.java -text
src/main/java/org/cd2h/STRAPITagLib/filesFolderLinks/FilesFolderLinksFileOrder.java -text
src/main/java/org/cd2h/STRAPITagLib/filesFolderLinks/FilesFolderLinksFolderId.java -text
src/main/java/org/cd2h/STRAPITagLib/filesFolderLinks/FilesFolderLinksID.java -text
src/main/java/org/cd2h/STRAPITagLib/filesFolderLinks/FilesFolderLinksIterator.java -text
src/main/java/org/cd2h/STRAPITagLib/filesRelatedMorphs/FilesRelatedMorphs.java -text
src/main/java/org/cd2h/STRAPITagLib/filesRelatedMorphs/FilesRelatedMorphsDeleter.java -text
src/main/java/org/cd2h/STRAPITagLib/filesRelatedMorphs/FilesRelatedMorphsField.java -text
src/main/java/org/cd2h/STRAPITagLib/filesRelatedMorphs/FilesRelatedMorphsFileId.java -text
src/main/java/org/cd2h/STRAPITagLib/filesRelatedMorphs/FilesRelatedMorphsID.java -text
src/main/java/org/cd2h/STRAPITagLib/filesRelatedMorphs/FilesRelatedMorphsIterator.java -text
src/main/java/org/cd2h/STRAPITagLib/filesRelatedMorphs/FilesRelatedMorphsOrder.java -text
src/main/java/org/cd2h/STRAPITagLib/filesRelatedMorphs/FilesRelatedMorphsRelatedId.java -text
src/main/java/org/cd2h/STRAPITagLib/filesRelatedMorphs/FilesRelatedMorphsRelatedType.java -text
src/main/java/org/cd2h/STRAPITagLib/footers/Footers.java -text
src/main/java/org/cd2h/STRAPITagLib/footers/FootersCreatedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/footers/FootersCreatedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/footers/FootersCreatedById.java -text
src/main/java/org/cd2h/STRAPITagLib/footers/FootersCredits.java -text
src/main/java/org/cd2h/STRAPITagLib/footers/FootersDeleter.java -text
src/main/java/org/cd2h/STRAPITagLib/footers/FootersGrantCite.java -text
src/main/java/org/cd2h/STRAPITagLib/footers/FootersID.java -text
src/main/java/org/cd2h/STRAPITagLib/footers/FootersIterator.java -text
src/main/java/org/cd2h/STRAPITagLib/footers/FootersPublishedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/footers/FootersPublishedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/footers/FootersSignup.java -text
src/main/java/org/cd2h/STRAPITagLib/footers/FootersSocial.java -text
src/main/java/org/cd2h/STRAPITagLib/footers/FootersUpdatedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/footers/FootersUpdatedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/footers/FootersUpdatedById.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPages.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesCreatedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesCreatedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesCreatedById.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesDeleter.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesID.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesIterator.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesPublishedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesPublishedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesUpdatedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesUpdatedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesUpdatedById.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPages/LandingPagesWelcome.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPagesDomainTeamsLinks/LandingPagesDomainTeamsLinks.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPagesDomainTeamsLinks/LandingPagesDomainTeamsLinksDeleter.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPagesDomainTeamsLinks/LandingPagesDomainTeamsLinksDomainTeamId.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPagesDomainTeamsLinks/LandingPagesDomainTeamsLinksDomainTeamOrder.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPagesDomainTeamsLinks/LandingPagesDomainTeamsLinksID.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPagesDomainTeamsLinks/LandingPagesDomainTeamsLinksIterator.java -text
src/main/java/org/cd2h/STRAPITagLib/landingPagesDomainTeamsLinks/LandingPagesDomainTeamsLinksLandingPageId.java -text
src/main/java/org/cd2h/STRAPITagLib/navBars/NavBars.java -text
src/main/java/org/cd2h/STRAPITagLib/navBars/NavBarsCreatedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/navBars/NavBarsCreatedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/navBars/NavBarsCreatedById.java -text
src/main/java/org/cd2h/STRAPITagLib/navBars/NavBarsDeleter.java -text
src/main/java/org/cd2h/STRAPITagLib/navBars/NavBarsID.java -text
src/main/java/org/cd2h/STRAPITagLib/navBars/NavBarsIterator.java -text
src/main/java/org/cd2h/STRAPITagLib/navBars/NavBarsName.java -text
src/main/java/org/cd2h/STRAPITagLib/navBars/NavBarsPublishedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/navBars/NavBarsPublishedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/navBars/NavBarsUpdatedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/navBars/NavBarsUpdatedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/navBars/NavBarsUpdatedById.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumns/NavColumns.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumns/NavColumnsCreatedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumns/NavColumnsCreatedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumns/NavColumnsCreatedById.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumns/NavColumnsDeleter.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumns/NavColumnsID.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumns/NavColumnsIterator.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumns/NavColumnsLabel.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumns/NavColumnsPublishedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumns/NavColumnsPublishedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumns/NavColumnsUpdatedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumns/NavColumnsUpdatedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumns/NavColumnsUpdatedById.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumns/NavColumnsUrl.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumnsNavBarLinks/NavColumnsNavBarLinks.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumnsNavBarLinks/NavColumnsNavBarLinksDeleter.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumnsNavBarLinks/NavColumnsNavBarLinksID.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumnsNavBarLinks/NavColumnsNavBarLinksIterator.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumnsNavBarLinks/NavColumnsNavBarLinksNavBarId.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumnsNavBarLinks/NavColumnsNavBarLinksNavColumnId.java -text
src/main/java/org/cd2h/STRAPITagLib/navColumnsNavBarLinks/NavColumnsNavBarLinksNavColumnOrder.java -text
src/main/java/org/cd2h/STRAPITagLib/navItems/NavItems.java -text
src/main/java/org/cd2h/STRAPITagLib/navItems/NavItemsCreatedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/navItems/NavItemsCreatedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/navItems/NavItemsCreatedById.java -text
src/main/java/org/cd2h/STRAPITagLib/navItems/NavItemsDeleter.java -text
src/main/java/org/cd2h/STRAPITagLib/navItems/NavItemsID.java -text
src/main/java/org/cd2h/STRAPITagLib/navItems/NavItemsIterator.java -text
src/main/java/org/cd2h/STRAPITagLib/navItems/NavItemsLabel.java -text
src/main/java/org/cd2h/STRAPITagLib/navItems/NavItemsPageId.java -text
src/main/java/org/cd2h/STRAPITagLib/navItems/NavItemsPublishedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/navItems/NavItemsPublishedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/navItems/NavItemsUpdatedAt.java -text
src/main/java/org/cd2h/STRAPITagLib/navItems/NavItemsUpdatedAtToNow.java -text
src/main/java/org/cd2h/STRAPITagLib/navItems/NavItemsUpdatedById.java -text
src/main/java/org/cd2h/STRAPITagLib/navItems/NavItemsUrl.java -text
src/main/java/org/cd2h/STRAPITagLib/navItemsNavColumnLinks/NavItemsNavColumnLinks.java -text
src/main/java/org/cd2h/STRAPITagLib/navItemsNavColumnLinks/NavItemsNavColumnLinksDeleter.java -text
src/main/java/org/cd2h/STRAPITagLib/navItemsNavColumnLinks/NavItemsNavColumnLinksID.java -text
src/main/java/org/cd2h/STRAPITagLib/navItemsNavColumnLinks/NavItemsNavColumnLinksIterator.java -text
src/main/java/org/cd2h/STRAPITagLib/navItemsNavColumnLinks/NavItemsNavColumnLinksNavColumnId.java -text
src/main/java/org/cd2h/STRAPITagLib/navItemsNavColumnLinks/NavItemsNavColumnLinksNavItemId.java -text
src/main/java/org/cd2h/STRAPITagLib/navItemsNavColumnLinks/NavItemsNavColumnLinksNavItemOrder.java -text
src/main/resources/META-INF/taglib.tld -text
src/main/webapp/_include.jsp -text
src/main/webapp/branding.jsp -text
src/main/webapp/footer.jsp -text
src/main/webapp/head.jsp -text
src/main/webapp/header.jsp -text
src/main/webapp/index.jsp -text
src/main/webapp/menu.jsp -text
src/main/webapp/nav.jsp -text
src/main/webapp/strapi/domainTeams/add.jsp -text
src/main/webapp/strapi/domainTeams/delete.jsp -text
src/main/webapp/strapi/domainTeams/edit.jsp -text
src/main/webapp/strapi/domainTeams/list.jsp -text
src/main/webapp/strapi/domainTeams/show.jsp -text
src/main/webapp/strapi/files/add.jsp -text
src/main/webapp/strapi/files/delete.jsp -text
src/main/webapp/strapi/files/edit.jsp -text
src/main/webapp/strapi/files/list.jsp -text
src/main/webapp/strapi/files/show.jsp -text
src/main/webapp/strapi/filesFolderLinks/add.jsp -text
src/main/webapp/strapi/filesFolderLinks/delete.jsp -text
src/main/webapp/strapi/filesFolderLinks/edit.jsp -text
src/main/webapp/strapi/filesFolderLinks/list.jsp -text
src/main/webapp/strapi/filesFolderLinks/show.jsp -text
src/main/webapp/strapi/filesRelatedMorphs/add.jsp -text
src/main/webapp/strapi/filesRelatedMorphs/delete.jsp -text
src/main/webapp/strapi/filesRelatedMorphs/edit.jsp -text
src/main/webapp/strapi/filesRelatedMorphs/list.jsp -text
src/main/webapp/strapi/filesRelatedMorphs/show.jsp -text
src/main/webapp/strapi/footers/add.jsp -text
src/main/webapp/strapi/footers/delete.jsp -text
src/main/webapp/strapi/footers/edit.jsp -text
src/main/webapp/strapi/footers/list.jsp -text
src/main/webapp/strapi/footers/show.jsp -text
src/main/webapp/strapi/landingPages/add.jsp -text
src/main/webapp/strapi/landingPages/delete.jsp -text
src/main/webapp/strapi/landingPages/edit.jsp -text
src/main/webapp/strapi/landingPages/list.jsp -text
src/main/webapp/strapi/landingPages/show.jsp -text
src/main/webapp/strapi/landingPagesDomainTeamsLinks/add.jsp -text
src/main/webapp/strapi/landingPagesDomainTeamsLinks/delete.jsp -text
src/main/webapp/strapi/landingPagesDomainTeamsLinks/edit.jsp -text
src/main/webapp/strapi/landingPagesDomainTeamsLinks/list.jsp -text
src/main/webapp/strapi/landingPagesDomainTeamsLinks/show.jsp -text
src/main/webapp/strapi/navBars/add.jsp -text
src/main/webapp/strapi/navBars/delete.jsp -text
src/main/webapp/strapi/navBars/edit.jsp -text
src/main/webapp/strapi/navBars/list.jsp -text
src/main/webapp/strapi/navBars/show.jsp -text
src/main/webapp/strapi/navColumns/add.jsp -text
src/main/webapp/strapi/navColumns/delete.jsp -text
src/main/webapp/strapi/navColumns/edit.jsp -text
src/main/webapp/strapi/navColumns/list.jsp -text
src/main/webapp/strapi/navColumns/show.jsp -text
src/main/webapp/strapi/navColumnsNavBarLinks/add.jsp -text
src/main/webapp/strapi/navColumnsNavBarLinks/delete.jsp -text
src/main/webapp/strapi/navColumnsNavBarLinks/edit.jsp -text
src/main/webapp/strapi/navColumnsNavBarLinks/list.jsp -text
src/main/webapp/strapi/navColumnsNavBarLinks/show.jsp -text
src/main/webapp/strapi/navItems/add.jsp -text
src/main/webapp/strapi/navItems/delete.jsp -text
src/main/webapp/strapi/navItems/edit.jsp -text
src/main/webapp/strapi/navItems/list.jsp -text
src/main/webapp/strapi/navItems/show.jsp -text
src/main/webapp/strapi/navItemsNavColumnLinks/add.jsp -text
src/main/webapp/strapi/navItemsNavColumnLinks/delete.jsp -text
src/main/webapp/strapi/navItemsNavColumnLinks/edit.jsp -text
src/main/webapp/strapi/navItemsNavColumnLinks/list.jsp -text
src/main/webapp/strapi/navItemsNavColumnLinks/show.jsp -text
src/non-packaged-resources/Model.clay -text
